:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-one: #faf9f9;
    --color-grey-light-two: #f4f2f2;
    --color-grey-light-three: #f0eeee;
    --color-grey-light-four: #ccc;
    --color-grey-dark-one: #333;
    --color-grey-dark-two: #777;
    --color-grey-dark-three: #999;
    --color-pure-white: #fff;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    content: '';
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-two);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}