.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-two);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    border-bottom: 1px solid var(--color-grey-dark-two);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-one);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: var(--color-pure-white);
    background-color: orangered;
    flex: 1;
}